#background-container {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(100,100,100,0.75);
	background-position: center top;
	background-repeat: no-repeat;
}
#message {
	width: 75%;
	height: 30px;
	background: rgba(222,222,222,0.75);
	padding: 5px 10px;
	margin: 10px 12.5%;
	text-align: center;
}
#editor {
	width: 75%;
	margin: 20px 12.5%;
	padding: 10px;
	background: rgba(222,222,222, 0.75);
	min-height: 500px;
}
#submit {
	width:100%;
	text-align: center;
	padding: 20px;
}
#submit button {
	width: 100px;
	height: 50px
}

.treema-edit, .treema-edit input{
	width: 100%;
}