#toolbox {
  z-index: 100;
  display: block;
  position: fixed;
  left: 0px;
  top: 130px;
  width: 230px;
  bottom: 0px;
  padding: 10px;
  background-color: #eee;
  opacity: 0.95;
  border-top: 5px solid rgb(170,170,170);
  border-right: 2.5px solid rgba(170,170,170,1);
  overflow: hidden;
}
  #toolbox_toggle {
    float: right;
    position: absolute;
    top: 2px;
    right:5px;
    background: rgba(200,200,200,1);
    padding: 3px 5px 3px 5px;
    border: 1px solid rgba(100,100,100,0.5);
    cursor:pointer;
  }
  #toolbox .title {
    background-color: #fff;
    margin-top: -10px;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    width: 300px;
    border-bottom: 1px solid #ccc;
  }
  #toolbox .body {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 95%;
    overflow-y: scroll;
    padding-right: 20px;
  }
  #toolbox .category {
    margin-top: 5px;
    font-size: small;
    color: #033;
  }
  #toolbox .parent {
    font-size: small;
    color: #777;
    margin-left: 10px;
  }
  #toolbox .layer{
    font-size: small;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
  }
  .layer_toggle {
    color: #c50;
    cursor: pointer;
    margin-left: 15px;
  }
  .field_select {
    display: none;
    margin-left: 15px;

  }
  .filter_toggle {
    display: none;
    padding-top: 3px;
    /*margin-left: 17px;*/
    color: #339;
    cursor: pointer;
    margin-left: 30px;
  }
  .layer_sign, .filter_sign {

    width:3px;
    height:3px;
    float:left;
    position: relative;
    top: 5px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;

    color: #777;
    font-weight: bold;
  }

  .layer_sign {
    left: 5px;
  }

  .filter_sign {
    left: -5px;
  }

  .filter_toggle .active_filter_sign{
    /*margin-left: -15px;*/
    background: black;
    border: 1px solid black;
  }

  .active_layer_sign, .active_filter_sign {
    background: black;
    border: 1px solid black;
  }

    .layer_extent, .layer_info, .layer_description {
      margin-left: 15px;
      display: none;
    }
    .layer_extent {
      width:100px;
      font-size: 10px;
      border: 1px solid rgba(0,0,0,0);
      border-radius: 10px;
      background: rgba(200,200,200,1);
      color: black;
      padding: 1px 10px;
      cursor: pointer;
      text-align: center;
    }
    .layer_extent:hover {
      -moz-box-shadow:    inset 0 0 3px #000;
      -webkit-box-shadow: inset 0 0 3px #000;
      box-shadow:         inset 0 0 3px #000;
    }
    .layer_extent:active {
      -moz-box-shadow:    inset 0 0 3px #555;
      -webkit-box-shadow: inset 0 0 3px #555;
      box-shadow:         inset 0 0 3px #555;
    }
    .layer_description {
      /*margin-left: 15px;*/
      /*display: none;*/
    }
    .layer_description a {
      color: #639;
    }
    .layer_info {
      /*margin-left: 15px;*/
      /*display: none;*/
    }

#map {
  position: absolute;
  border-top: 5px solid #aaa;
  top: 130px;
  left: 250px;
  bottom: 0px;
  right: 0px;
}
  h4{
    padding: 0;
    margin: 0;
  }
  .legend_min{
    width:25px;
    height: 25px;
    position:relative;
    bottom: 10px;
    right: 10px;
    float:right;
  }
  .leaflet-top,
  .leaflet-bottom {
    position: absolute;
    z-index: 499;
  }
  .leaflet-left {
    position: relative;
    top: 60px; 
  }
  .leaflet-control-scale {
    position: absolute;
    left:5px;
    top:-30px;
  }
  .cartodb-legend-stack {
    position: relative;
    bottom: 50px;
  }

  @media (max-width: 1600px){

    .leaflet-control-attribution {
      display: none;
      /*position: absolute;*/
      /*bottom: 0;*/
      /*left: 100px;*/
    }
  }

#map_buttons {
  position: absolute;
  top: 0;
  left: 0;
}
  .map_button {
    cursor: pointer;
    display: inline-block;
    width: 125px;
    height: 20px;
    padding: 0px 10px;
    background: rgb(100,100,100);
    color: white;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid rgb(200,200,200);
  }
  .map_button:hover {
    background: rgb(170,170,170);
    color: black;
  }
  .map_button:active {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.85), 0 1px 0 rgba(255,255,255,0.75);
        -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.85), 0 1px 0 rgba(255,255,255,0.75);
            box-shadow: inset 0 0 5px rgba(0,0,0,0.85), 0 1px 0 rgba(255,255,255,0.75);
  }

  #mb_report a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0px 10px;
    position: relative;
    left: -10px;
    color: white;
  }


#legend_tabs {
  margin: 0;
  padding: 0;
  height: 20px;
  position: fixed;
  bottom: 0px;
  right: 0;
}
  #legend_label {
    display: inline-block;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px;
    line-height: 20px;
    font-size: 12px;
    background: transparent;
    color:black;
  }
  .legend_tab {
    cursor: pointer;
    display: inline-block;
    /*width: 75px;*/
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px;
    line-height: 20px;
    font-size: 12px;
    background: rgb(200,200,200);
    border-left: 1px solid black;
  }
  .legend_tab_active {
    background: rgb(150,150,150);
  }


/*#search-link {
  position: fixed;
  top: 165px;
  right: 205px;
  width: 70px;
  text-align: center;
  z-index: 1000;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
  background: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-style:solid;
  border-width:3px;
  border-color:#8000FF;
}
*/
#search-box {
  position: absolute;
  top: 160px;
  left: 400px;
  width: 325px;
  text-align: right;
  z-index: 999;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 5px;
  color: #fff;
  background: #333;
  box-shadow: 0px 0px 10px #333;
}
  #search-clear {
    border-color:#8000FF;
    cursor: pointer;
    margin-top: 5px;
  }
  #search-box input {
    border: 1px solid #eef;
    background: #555;
    color: #fff;
  }
  #search-box div { padding-bottom: 5px; }

  #search_lat {
    width: 100px;
  }
  #search_long {
    width: 100px;
  }
  #search_address {
    width: 300px;
    padding-top:3px;
  }

#print-info {
  display: none;
}
